/* reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    background-color: #2d2d2d;
  }
  
  /* estilos do header */
  header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #ffd700;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .burger {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #1a1a1a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-links li {
      margin-top: 10px;
    }
  
    .burger {
      display: block;
      cursor: pointer;
    }
  }
  
  /* estilos do main */
  main {
    background-color: #2d2d2d;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 215px);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(37, 36, 56, 0.322) 33%, rgba(53,53,62,1) 73%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus+label,
  .login-box .user-box input:valid+label {
    top: -20px;
    left: 0;
    color: #ffd700;
    font-size: 12px;
  }
  
  .login-box form .btn {
    position: relative;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    background-color: #ffd700;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box .btn:hover {
    background: #ffd700;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 5px #ffd700,
      0 0 25px #ffd700,
      0 0 50px #ffd700,
      0 0 100px #ffd700;
  }
  
  .login-box .btn span {
    position: absolute;
    display: block;
  }
  
  .login-box .btn span:nth-child(1) {
    top: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ff40);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,
    100% {
      left: 100%;
    }
  }
  
  
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,
    100% {
      top: 100%;
    }
  }
  
  .login-box .btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #850000);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,
    100% {
      right: 100%;
    }
  }
  
  .login-box .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
  }
  
  @keyframes btn-anim3 {
    0% {
      bottom: -100%;
    }
  
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  
  /* estilos do footer */
  footer {
    background-color: #2d2d2d;
    text-align: center;
  }
  
  footer p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 55px;
    color: #fff;
  }